swagger: '2.0'
info:
  description: >-
    Webservice for looking up environmental and societal spatial information
    based on coordinates.  
      
    Data references and acknowledgements:  

    Claus S., N. De Hauwere, B. Vanhoorne, F. Souza Dias, P. Oset García, F. Hernandez, and J. Mees (Flanders Marine Institute) (2017). MarineRegions.org.  

    The GEBCO_2014 Grid, version 20150318, http://www.gebco.net.  

    EMODnet Bathymetry Consortium (2016): EMODnet Digital Bathymetry (DTM). http://doi.org/10.12770/c7b53704-999d-4721-b1a3-04ec60c87238.  

    Tyberghein L, Verbruggen H, Pauly K, Troupin C, Mineur F, De Clerck O (2012) Bio-ORACLE: A global environmental dataset for marine species distribution modelling. Global Ecology and Biogeography, 21, 272–281.  

    Map data copyrighted OpenStreetMap contributors and available from https://www.openstreetmap.org.  
    
  version: 1.0.0
  title: OBIS xylookup
  termsOfService: 'http://www.iobis.org/data/policy/'
  contact:
    email: info@iobis.org
  license:
    name: MIT License
    url: 'https://github.com/iobis/xylookup/blob/master/LICENSE.md'
host: api.iobis.org
externalDocs:
  description: Find out more
  url: 'https://github.com/iobis/xylookup/'
schemes:
  - http
paths:
  /xylookup:
    get:
      operationId: xylookup_get
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: x
          in: query
          description: 'x-coordinate (longitude)'
          required: true
          type: array
          minItems: 1
          items:
            type: number
        - name: 'y'
          in: query
          description: 'y-coordinate (latitude)'
          required: true
          type: array
          minItems: 1
          items:
            type: number
        - name: areas
          in: query
          description: 'Should areas be returned.'
          required: false
          type: boolean
          default: true
        - name: grids
          in: query
          description: 'Should grid values be returned (bathymetry, ...).'
          required: false
          type: boolean
          default: true
        - name: shoredistance
          in: query
          description: 'Should the distance the coastline be returned.'
          required: false
          type: boolean
          default: true
        - name: areasdistance
          in: query
          description: 'Distance in meters within which areas have to be in order to be detected (default: 0 meters = intersect).'
          required: false
          type: integer
          default: 0
      responses:
        '400':
          description: Invalid input
        '200':
          description: OK
    post:
      operationId: xylookup_post
      consumes:
        - application/json
        - application/msgpack
      produces:
        - application/json
        - application/msgpack
      parameters:
        - in: body
          name: body
          description: ''
          required: true
          schema:
            $ref: '#/definitions/QueryPoints'
      responses:
        '400':
          description: Invalid input
        '200':
          description: OK
definitions:
  Point2D:
    type: array
    maxItems: 2
    minItems: 2
    items:
      type: number
  QueryPoints:
    type: object
    properties:
      points:
        type: array
        items:
          $ref: '#/definitions/Point2D'
      areas:
        type: boolean
        default: true
      grids:
        type: boolean
        default: true
      shoredistance:
        type: boolean
        default: true
